body{
    margin: 0 auto;
    overflow: hidden;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center
}

#fondo{
    height: 100%;
    width: 100%;
    position: absolute;
}

#barraVida{
    width: 300px;
    height: 20px;
    border: 4px solid black;
    position: absolute;
    right: 10px;
    top: 20px;
}

#vida{
    background-color: rgb(220, 123, 13);
    width: 0%;
    height: 100%;
}

#mesa{
    background-color: rgb(198, 192, 172);
    height: 400px;
    width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: -40%;
    border-radius: 10%;
}

h1{
    position: absolute;
    top: 20%;
}

#esmeralda{
    background-color: aliceblue;
    height: 300px;
    width: 300px;
    position: absolute;
    right: 5%;
    top: 30%;
    border-radius: 60%;

    animation-name: esmeralda;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    
}

#cara{
    height: 100%;
    width: 100%;
    border-radius: 60%;
}

/* COMIDA */
#img1{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img2{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img3{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 3.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img4{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 4s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img5{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img6{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 3.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img7{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 2.5s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img8{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 3s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

#img9{
    height: 20%;
    width: 20%;

    animation-name: comida1;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}



/* ANIMACIONES */
@keyframes esmeralda{
    0%{
        top: 40%;
    }

    50%{
        top: 30%;
    }

    100%{
        top: 40%;
    }
}

@keyframes comida1{
    0%{
        margin-top: 20%;
    }

    50%{
        margin-top: 10%;
    }

    100%{
        margin-top: 20%;
    }
}

@keyframes comida2{
    0%{
        margin-top: -20%;
    }

    50%{
        margin-top: 0%;
    }

    100%{
        margin-top: -20%;
    }
}

@keyframes comida3{
    0%{
        margin-top: -10%;
    }

    50%{
        margin-top: 10%;
    }

    100%{
        margin-top: -10%;
    }
}

